.BackLink {
  display: inline-block;
  padding: 11px 16px;
  color: #5736a3;
  border-radius: 4px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.BackLink:hover {
  color: #ebd8ff;
  background-color: #5736a3;
}
