.Card {
  position: relative;
  width: 380px;
  height: 460px;
  margin: 0 auto;
  background: url("../../images/background.png"),
    linear-gradient(114.99deg, #471ca9 -0.99%, #5736a3 54.28%, #4b2a99 78.99%);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 28px, 50% 50%;
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.Card__logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.Card__delimiter {
  position: absolute;
  left: 0;
  top: 214px;
  width: 380px;
  height: 8px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
}

.Card__imgwrapper {
  position: absolute;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  left: 150px;
  top: 178px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* background-color: #5736a3; */
  /* border: 9px solid #ebd8ff; */
  background-color: #ebd8ff;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;
}

.Card__img {
  display: block;
  width: 62px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 -2.19582px 4.39163px #ae7be3;
}

.Card__data {
  position: absolute;
  text-align: center;
  top: 284px;
  width: 100%;
}

.Card__txt {
  margin-top: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ebd8ff;
}

.Card__button {
  width: 196px;
  height: 50px;
  background: #ebd8ff;
  box-shadow: 0px 3.436px 3.436px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #373737;
  cursor: pointer;
}

.Card__button--following {
  background: #5cd3a8;
}
